.cart-bar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(50, 70, 130, 0.3);
    backdrop-filter: blur(12px);
    width: 400px;
    padding: 50px;
    /* display: flex;; */


}

.close-cart {
    position: absolute;
    top: 20px;
    right: 15px;
    color: red
}

.close-cart:hover {
    transform: scale(1.03);
    cursor: pointer;
}

